extend layout

block content
	div#container
		form(class="form-signin", action="/sessions", method="post")
			h2(class="form-signin-heading") Before you start
			input(type="text",class="form-control",name="user_name",placeholder="Any name",autofocus="autofocus")
			input(type="email",class="form-control",name="email",placeholder="Email address, OPTIONAL")

			button(class="btn btn-lg btn-primary btn-block",type="submit") Sign in